<!doctype html>
<html>
    <head>
        <link rel=stylesheet href=/static/index.css>
        <script src=/static/index.js defer></script>
    </head>
    <body>
        <h1>World fact book</h1>
        <h2><input id='name' value='{{country.name}}'> ({{country.id}})</h2>
        <div><img src={{country.flag}}></div>
        <div>Population <input id=population value='{{country.population}}'></div>
        <div>GDP ${{country.gdp}}</div>
        <div>Continent {{country.continent}}</div>
        <div>
            <button id=delete data-cn={{country.id}}>
            Delete
            </button>
            <button id=update data-cn={{country.id}}>
                Update
             </button>
            </div>
     </body>
</html>
